server:
  port: 8085
spring:
  #  h2:
  #    console:
  #      enabled: true
  #      settings:
  #        web-allow-others: false
  datasource:
    url: jdbc:h2:mem:market;MODE=PostgreSQL
    username: sa
    password: password
  #    driverClassName: org.h2.Driver
  jpa:
    show-sql: true
    properties:
      hibernate.jdbc.time_zone: UTC
    #      hibernate:
    #        dialect: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate

integration:
  account.service:
    url: http://localhost:8190/profile
    connect-timeout: 5000
    read-timeout: 10000
    write-timeout: 5000
